html, body {
  margin: 0;
  padding: 0;
  color: #fff;
  background: #1F2937;
  
}

.start_btn,
.main_container{
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 
              0 6px 20px 0 rgba(0, 0, 0, 0.19);
             
}

.main_container.activeContainer 
{
  opacity: 1;
  transform: translate(-50%, -50%) scale(1);
  pointer-events: auto;
}

.start_btn button{
  font-size: 25px;
  font-weight: 500;
  color: black;
  width: 100%;
}

.main_container{
  opacity: 0;
  transform: translate(-50%, -50%) scale(0.7);
  width: 80%;
  transition: all 0.5s ease;
  pointer-events: none;
  padding: 0;
  margin: 0;
}


h1 {
  margin: 0;
}

button {
  width: 30%;
  cursor: pointer;
  font-family: "Roboto", sans-serif;
  padding: 15px;
  margin: 10px 3px 10px 3px;
  border-radius: 7px;
  border: 1px solid black;
  
}

button:hover {
  
  color: #fff;
  background: brown;
}



#top-container {
  background: #3ace2d;
  margin: 0;
}

#bottom-container {
  background: #1F2937;
}

#btn-container {
  margin: 0 auto;
}

.top-content {
  width: 80%;
  margin: 0 auto;
  text-align: center;
  padding: 30px 0;
}

.btm-content {
  width: 90%;
  margin: 0 auto;
  padding: 25px 0;
}

#column-container1, #column-container2 {
  display: flex;
}

.col1 {
  width: 50%;
  
}

.col1 p {
  font-size: 15px;
}

.col2 {
  width: 50%;
  text-align: right;
}

.small-text {
  font-size: 10px;
}

.right-align {
  text-align: right;
} 

#req-serv-total {
  font-size: 35px;
  font-weight: 600;
  margin: 20px 0 0 0;
}

.footer-buttons {

  width: 100%;
  color: #fff;
  text-align: center;
   

}

         
